.repo-center {
    height: 80vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.repositories {
    table {
        width: 100%;
        margin-bottom: 25px;
        thead {
            tr {
                background: black;
                color: white;
                border-radius: 10px;
                th {
                    padding: 5px 10px;
                    &:first-child {
                        width: 20%;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }
                    &:nth-child(2) {
                        width: 40%;
                    }
                    &:nth-child(3) {
                        width: 20%;
                    }
                    &:last-child {
                        width: 20%;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 5px 15px;
                }
                &:nth-child(even) {
                    background: #EDEDED;
                }
            }
        }
    }
}