.home-center {
    height: 80vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}